<!DOCTYPE html css>
<html lang="en">
<head>
    <style type="text/css">
            input { background-color: rgb(255, 255, 255);
            border-color:black;
            border-style:outset;
            border-radius:15px;
            border-width:1px;
            width: 451;
            height: 31 }

        </style>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
       </string>
   </property>
   </widget>
    <input style="border-style: outset, border-radius: 15px, border-color: black, border-width: 2px" type="Text" name="username" width="451" height="31">
</body>
</html>